/*Comment
p{	
	color: red;
	font-family:Arial;
}
*/
h1{	
	font: normal 175% 'century gothic', arial, sans-serif;
	color: #80FFFF;
}

html
{ height: 100%;}



body
{ 
  font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: #F0EFE2;
  color: #777;
  width: 100%;
  font-size: 12pt;
}

#header
{ background: #025587;
  height: 500px;}

#main
{ 
  margin-left: auto; 
  margin-right: auto;
  text-align: center; 
  display: block;
  width: 1000px;
  overflow: auto;
  margin: -8px auto 0px auto;
  box-sizing: border-box;
}


#menubar
{ 

  background: #29415D;
  padding: 2p;
  text-align: center;
  float: left;
  clear: none;
  width: 100%;
  box-sizing: border-box;
 
}
#site_content
{ 
  overflow: hidden;
  width: 940px;
  margin: 0 auto 0 auto;
  padding: 20px 24px 20px 37px;
  background: #FFF repeat-y;
  margin-left: auto; 
  margin-right: auto;
  text-align: left;
  min-height: 550px;
  }

 #footer{
  margin-left: auto; 
  margin-right: auto;
  font: normal 100% 'lucida sans unicode', arial, sans-serif;
  height: 33px;
  padding: 19px 0 14px 0;
  text-align: center; 
  background: #29425E;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  width: 1000px;   
}

ul#menu, ul#menu li
{ float: left;
  margin: 0; 
  padding: 0;}

ul#menu li
{ list-style: none;}

ul#menu li a
{ letter-spacing: 0.1em;
  font: normal 100% 'lucida sans unicode', arial, sans-serif;
  display: block; 
  float: left; 
  height: 40px;
  padding: 29px 26px 6px 26px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;}

ul#menu li a:hover, ul#menu li.selected a, ul#menu li.selected a:hover
{ color: #FFF;
  background: #1C2C3E repeat-x;
}

.sidebar
{ 
  float: right;
  width: 235px;
  min-height: 550px;
  padding: 0 15px 20px 15px;
  box-sizing: border-box;
}