/*Comment
p{	
	color: red;
	font-family:Arial;
}
*/
h1{	
	font: normal 175% 'century gothic', arial, sans-serif;
	color: #80FFFF;
}

html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

  #header
{ background: #025587;
 }

body
{ 
  font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: #F0EFE2;
  color: #777;
  width: 100%;}

#header
{ background: #025587;
  height: 240px;}

#main, #logo, #menubar, #footer
{ 
  margin-left: auto; 
  margin-right: auto;
  text-align: center; 
}



#logo
{ width: 825px;
  position: relative;
  height: 165px;
  background: #025587}


#menubar
{ width: 877px;
  height: 80px;
  padding: 0;
  background: #29415D}

 

ul#menu, ul#menu li
{ float: left;
  margin: 0; 
  padding: 0;}

ul#menu li
{ list-style: none;}

ul#menu li a
{ letter-spacing: 0.1em;
  font: normal 100% 'lucida sans unicode', arial, sans-serif;
  display: block; 
  float: left; 
  height: 40px;
  padding: 29px 26px 6px 26px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;}

ul#menu li a:hover, ul#menu li.selected a, ul#menu li.selected a:hover
{ color: #FFF;
  background: #1C2C3E url(menu_select.png) repeat-x;
}

p
{ padding: 0 0 20px 0;
  line-height: 1.7em;}

h2, h3, h4, h5, h6 
{ font: normal 175% 'century gothic', arial, sans-serif;
  color: #43423F;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;}

h2
{ font: normal 175% 'century gothic', arial, sans-serif;
  color: #A4AA04;}

h4, h5, h6
{ margin: 0;
  padding: 0 0 5px 0;
  font: normal 120% arial, sans-serif;
  color: #A4AA04;}

h5, h6
{ font: italic 95% arial, sans-serif;
  padding: 0 0 15px 0;
  color: #000;}

h6
{ color: #362C20;}
 
#footer{
  width: 878px;
  font: normal 100% 'lucida sans unicode', arial, sans-serif;
  height: 33px;
  padding: 24px 0 5px 0;
  text-align: center; 
  background: #29425E;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#site_content
{ width: 818px;
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 20px 24px 20px 37px;
  background: #FFF url(content.png) repeat-y;
  margin-left: auto; 
  margin-right: auto;
  text-align: left;
  }


#main, #logo, #bar, #footer{ 
  margin-left: auto; 
  margin-right: auto;
  }

.sidebar
{ float: right;
  width: 190px;
  padding: 0 15px 20px 15px;}

.sidebar ul
{ width: 178px; 
  padding: 4px 0 0 0; 
  margin: 4px 0 30px 0;}

.sidebar li
{ list-style: none; 
  padding: 0 0 7px 0; }

.sidebar li a, .sidebar li a:hover
{ padding: 0 0 0 40px;
  display: block;
  background: transparent url(link.png) no-repeat left center;} 

.sidebar li a.selected
{ color: #444;
  text-decoration: none;} 